# Project 1: Customer Database
**This is the first of three mandatory projects to be handed in as part of the assessment for the course 02807 Computational Tools for Data Science at Technical University of Denmark, autumn 2019.**

#### Practical info
- **The project is to be done in groups of at most 3 students**
- **Each group has to hand in _one_ Jupyter notebook (this notebook) with their solution**
- **The hand-in of the notebook is due 2019-10-13, 23:59 on DTU Inside**

#### Your solution
- **Your solution should be in Python**
- **For each question you may use as many cells for your solution as you like**
- **You should document your solution and explain the choices you've made (for example by using multiple cells and use Markdown to assist the reader of the notebook)**
- **You should not remove the problem statements, and you should not modify the structure of the notebook**
- **Your notebook should be runnable, i.e., clicking [>>] in Jupyter should generate the result that you want to be assessed**
- **You are not expected to use machine learning to solve any of the exercises**
- **You will be assessed according to correctness and readability of your code, choice of solution, choice of tools and libraries, and documentation of your solution**

## Introduction
Your team has been hired by the company X as data scientists. X makes gadgets for a wide range of industrial and commercial clients.

As in-house data scientists, your teams first task, as per request from your new boss, is to optimize business operations. You have decided that a good first step would be to analyze the companys historical sales data to gain a better understanding of where profit is coming from. It may also reveal some low hanging fruit in terms of business opportunities.

To get started, you have called the IT department to get access to the customer and sales transactions database. To your horror you've been told that such a database doens't exist, and the only record of sales transactions is kept by John from finance in an Excel spreadsheet. So you've emailed John asking for a CSV dump of the spreadsheet...

In this project you need to clean the data you got from John, enrich it with further data, prepare a database for the data, and do some data analysis. The project is comprised of five parts. They are intended to be solved in the order they appear, but it is highly recommended that you read through all of them and devise an overall strategy before you start implementing anything.

## Part 1: Cleaning the data
John has emailed you the following link to the CSV dump you requested.

- [transactions.csv](https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv)

It seems as though he has been a bit sloppy when keeping the records. 

In this part you should:
- Explain what the data is
- Clean it to prepare it for inserting into a database and doing data analysis

---
### Solution

In [1]:
import pandas as pd
import numpy as np
import re
import pickle

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv",encoding="utf-8")

In [3]:
df.head()

,part,company,country,city,price,date
0,54868-5165,Chatterbridge,Spain,Barcelona,784.79€,2016-01-02 00:01:05
1,60505-2867,Lajo,Greece,Thessaloniki,187.99€,2016-01-02 00:05:26
2,24385-268,Flipstorm,Greece,Athens,221.73€,2016-01-02 00:18:30
3,76117-001,Twitterbeat,France,Annecy,1075.82€,2016-01-02 02:32:30
4,44946-1046,Chatterbridge,Spain,Barcelona,412.55€,2016-01-02 04:51:55

In [4]:
df.describe()

             part     company   country       city  price        date
count       20558       20568     18397      20535  20567       20568
unique        100          35        13         30  19214       20552
top     17156-617  Thoughtmix  Portugal  Amadora\t      -  10/04/2017
freq          300        2795      7383       2787      5           7

In [5]:
df.dtypes

part       object
company    object
country    object
city       object
price      object
date       object
dtype: object

In [6]:
for column in df.columns:
    print("Data type in {} is {}.".format(column,type(df[column][0])))

Data type in part is <class 'str'>.
Data type in company is <class 'str'>.
Data type in country is <class 'str'>.
Data type in city is <class 'str'>.
Data type in price is <class 'str'>.
Data type in date is <class 'str'>.

In [7]:
# check for empty string
for column in df.columns:
    print("" in df[column])

False
False
False
False
False
False

In [8]:
# check for NaN
for column in df.columns:
    print("column {} has {} null value".format(column, df[column].isnull().sum().sum()))

column part has 10 null value
column company has 0 null value
column country has 2171 null value
column city has 33 null value
column price has 1 null value
column date has 0 null value

### part column

In [9]:
df.part.nunique()

100

In [10]:
df.part.value_counts(dropna = False).head()

17156-617     300
37205-992     295
0268-6107     293
52959-433     293
54868-0823    292
Name: part, dtype: int64

#### handle missing values in `part`

In [11]:
df[df.part.isnull()]

,part,company,country,city,price,date
14916,NaN,Yozio,Greece,Patras,518.38€,2018-02-17 21:43:43
14917,NaN,Brainsphere,Portugal,Braga,957.24€,2018-02-17 22:12:24
14918,NaN,Lajo,Greece,Thessaloniki,966.06€,2018-02-17 22:54:49
14919,NaN,Roodel,Portugal,Aranhas,873.65€,2018-02-17 23:36:52
17524,NaN,Yozio,Greece,Patras,627.32€,2018-07-12 03:28:46
17525,NaN,Thoughtmix,Portugal,Amadora\t,825.8€,2018-07-12 05:34:07
17526,NaN,Gabcube,Portugal,Almada,188.31€,2018-07-12 06:49:44
17527,NaN,Buzzbean,Germany,Düsseldorf,429.67€,2018-07-12 07:03:50
17528,NaN,Zoonder,United States,Boston,$521.72,2018-07-12 08:38:56
17529,NaN,Twitterbeat,France,Annecy,1031.46€,2018-07-12 09:48:17

In [12]:
prop_nan_part = len(df[df.part.isnull()])/len(df)
prop_nan_part

0.0004861921431349669

Since the proportion of missing values in the part column is only 0.049% of the entire dataset, we can remove the rows with missing part entries.

In [13]:
df=df.dropna(subset=['part'])

In [14]:
df[df.part.isnull()]

Empty DataFrame
Columns: [part, company, country, city, price, date]
Index: []

### company column

#### clean strings in `company`

In [15]:
df.company.unique()

array(['Chatterbridge', 'Lajo', 'Flipstorm', 'Twitterbeat', 'Voomm',
       'Buzzbean', 'Zooxo', 'Brainsphere', 'Thoughtmix', 'Wordify',
       'Teklist', 'Avaveo', 'Ntags', 'Innojam', 'Shufflebeat', 'Zoonder',
       'Kanoodle', 'Gabcube', 'Roodel', 'Riffpath', 'Eimbee', 'Yozio',
       'Rhycero', 'Realpoint', 'Gabtune', 'Bubblemix', 'Gevee', 'Tagtune',
       'Zooxo.', 'Laj0', 'Ntagz', ' -', ' a', 'aa', 'Thoughtmixz'],
      dtype=object)

In [16]:
df.company.value_counts(dropna=False)

Thoughtmix       2794
Twitterbeat      2267
Zooxo            1670
Chatterbridge    1589
Shufflebeat      1553
Ntags            1514
Buzzbean         1253
Brainsphere      1241
Flipstorm        1193
Wordify           968
Yozio             653
Roodel            626
Eimbee            498
Zoonder           453
Teklist           428
Gabcube           356
Voomm             250
Lajo              219
Avaveo            212
Rhycero           204
Realpoint         158
Riffpath          151
Kanoodle          127
Bubblemix          54
Innojam            44
Gevee              36
Gabtune            27
Tagtune            12
Zooxo.              2
 a                  1
Thoughtmixz         1
 -                  1
Laj0                1
Ntagz               1
aa                  1
Name: company, dtype: int64

From the above result, it can be seen that some erroneous company names/poorly formatted company names. These include:
* ` a`,`aa`,` -` each has occurred once in the dataset. They are likely to be the erroneous entries. Simply remove them.
* `Laj0` should be standardized to `Lajo`. Likewise, `Zooxo.` should be standardized to `Zooxo`.

In [17]:
df.company = df.company.replace([' a','aa',' -'], '')
df=df[df.company != '']

In [18]:
df.company = df.company.replace('Zooxo.','Zooxo')
df.company = df.company.replace('Laj0','Lajo')

In [19]:
df.company.value_counts(dropna=False)

Thoughtmix       2794
Twitterbeat      2267
Zooxo            1672
Chatterbridge    1589
Shufflebeat      1553
Ntags            1514
Buzzbean         1253
Brainsphere      1241
Flipstorm        1193
Wordify           968
Yozio             653
Roodel            626
Eimbee            498
Zoonder           453
Teklist           428
Gabcube           356
Voomm             250
Lajo              220
Avaveo            212
Rhycero           204
Realpoint         158
Riffpath          151
Kanoodle          127
Bubblemix          54
Innojam            44
Gevee              36
Gabtune            27
Tagtune            12
Thoughtmixz         1
Ntagz               1
Name: company, dtype: int64

In [20]:
df[df['company'].isnull()]

Empty DataFrame
Columns: [part, company, country, city, price, date]
Index: []

### country column

#### clean strings in `country`

In [21]:
df.country.unique()

array(['Spain', 'Greece', 'France', 'Germany', 'United Kingdom',
       'Portugal', 'United States', 'Netherlands', 'Japan', 'Switzerland',
       nan, 'US', 'Tyskland', 'Portuga'], dtype=object)

From the `unique()` result, we can see that `United States` and `US` are the same and thus should be standardized. 
<br>
Similarly, `Portugal` and `Portuga` should be standardized. 
<br>
Additionally, `Tyskland` means `Germany` in Swedish. Thus they need to be standardized too.

In [22]:
df.country = df.country.replace('US', 'United States')
df.country = df.country.replace('Portuga', 'Portugal')
df.country = df.country.replace('Tyskland', 'Germany')

In [23]:
df.country.unique()

array(['Spain', 'Greece', 'France', 'Germany', 'United Kingdom',
       'Portugal', 'United States', 'Netherlands', 'Japan', 'Switzerland',
       nan], dtype=object)

#### handle missing values in  `country`

In [24]:
df[df.country.isnull()].head()

,part,company,country,city,price,date
2528,52380-1102,Teklist,NaN,Arnhem,357.78,2016-04-21 04:07:31
2947,52125-136,Brainsphere,NaN,Braga,493.94€,2016-05-10 11:13:43
2956,16714-295,Teklist,NaN,Arnhem,624.4€,2016-05-10 21:57:15
2994,76335-006,Buzzbean,NaN,Düsseldorf,355.24€,2016-05-12 15:17:37
3948,54473-578,Brainsphere,NaN,Braga,123.32€,2016-07-01 01:09:40

In [25]:
len(df[df.country.isnull()])

2171

In [26]:
prop_nan_country = len(df[df.country.isnull()])/len(df)
prop_nan_country

0.1056190707856969

Since the fraction of missing values in the country column is 10.43% of the entire dataset which is considerably large, we cannot simply remove the rows with missing countries entries as doing so will result in much information being lost.
<br>
<br>
Instead, we can deduce some of the country names from their corresponding cities.

In [27]:
df.groupby(['city'])['country'].value_counts(dropna = False).head()

city       country
Almada     Portugal     323
           NaN           33
Amadora\t  Portugal    2511
           NaN          275
Amiens     France       452
Name: country, dtype: int64

In [28]:
city_country_mapping = df.groupby(['city'])['country'].apply(lambda grp: list(grp.value_counts().index)[0]).to_dict()
city_country_mapping

{'Almada': 'Portugal',
 'Amadora\t': 'Portugal',
 'Amiens': 'France',
 'Amsterdam': 'Netherlands',
 'Annecy': 'France',
 'Aranhas': 'Portugal',
 'Arcueil': 'France',
 'Arnhem': 'Netherlands',
 'Asaka': 'Japan',
 'Athens': 'Greece',
 'Barcelona': 'Spain',
 'Boston': 'United States',
 'Braga': 'Portugal',
 'Champagnole': 'France',
 'Düsseldorf': 'Germany',
 'Heraklion': 'Greece',
 'Lisbon': 'Portugal',
 'London': 'United Kingdom',
 'Lyon': 'France',
 'Monção': 'Portugal',
 'Nanterre': 'France',
 'New York': 'United States',
 'Nice': 'France',
 'Niihama': 'Japan',
 'Paris': 'France',
 'Patras': 'Greece',
 'Porto': 'Portugal',
 'Thessaloniki': 'Greece',
 'Vila Fria': 'Portugal',
 'Zürich': 'Switzerland'}

In [29]:
df[df.country.isnull()].index

Int64Index([ 2528,  2947,  2956,  2994,  3948,  3949,  3950,  3951,  3952,
             3953,
            ...
            12843, 12978, 13721, 14438, 16146, 16147, 16148, 16149, 16150,
            16151],
           dtype='int64', length=2171)

In [30]:
def impute_countries(row):
    try:
        res=city_country_mapping[row.city]
    except KeyError:
        res=float('NaN')
    return res

In [31]:
df.country = df.apply(impute_countries, axis = 1)

In [32]:
len(df[df.country.isna()])

33

In [33]:
df[df.country.isna()]

             part      company country city      price                 date
3136    68462-565  Brainsphere     NaN  NaN   1057.85€  2016-05-20 08:59:53
3137    54092-515  Shufflebeat     NaN  NaN    772.92€  2016-05-20 09:55:24
3138    0185-0373  Brainsphere     NaN  NaN    1012.8€  2016-05-20 10:42:10
12820   50563-113        Ntags     NaN  NaN    507.49€  2017-10-20 04:03:11
12821  55154-5057  Brainsphere     NaN  NaN    421.64€  2017-10-20 13:23:34
12822  36987-1697        Ntags     NaN  NaN    937.08€  2017-10-20 18:25:00
12823   68462-565   Thoughtmix     NaN  NaN    777.58€  2017-10-20 21:21:18
12824   0603-6134        Yozio     NaN  NaN    775.05€  2017-10-20 23:17:59
12825  58118-5060        Yozio     NaN  NaN    157.53€  2017-10-20 23:49:53
12826   51060-032   Thoughtmix     NaN  NaN    176.36€  2017-10-21 00:11:55
12827   16714-295  Twitterbeat     NaN  NaN    348.26€  2017-10-21 01:24:52
12828   0603-6134        Ntags     NaN  NaN    714.66€  2017-10-21 01:53:26
12829   52125-136        Zooxo     NaN  NaN    £616.08  2017-10-21 04:26:42
12830   70253-307   Thoughtmix     NaN  NaN    880.07€  2017-10-21 06:19:34
12831   49967-724        Ntags     NaN  NaN     593.0€  2017-10-21 08:04:12
12832  54868-5165      Zoonder     NaN  NaN    $879.56  2017-10-21 09:35:27
12833  65044-3014        Zooxo     NaN  NaN    £738.09  2017-10-21 10:17:08
12834   51346-145  Brainsphere     NaN  NaN    939.35€  2017-10-21 15:06:59
12835  36987-1697      Wordify     NaN  NaN     $371.3  2017-10-21 15:59:29
12836  63629-2733      Teklist     NaN  NaN    236.48€  2017-10-21 17:14:47
12837   49035-530      Teklist     NaN  NaN   1160.47€  2017-10-21 22:49:57
12838  62670-4404  Shufflebeat     NaN  NaN    517.91€  2017-10-22 02:54:15
12839   0185-0373   Thoughtmix     NaN  NaN   1007.71€  2017-10-22 04:16:08
12840   49967-724   Thoughtmix     NaN  NaN    586.71€  2017-10-22 04:34:36
12841   59779-601        Ntags     NaN  NaN     171.8€  2017-10-22 05:00:42
12842   35356-325  Shufflebeat     NaN  NaN    436.67€  2017-10-22 05:10:16
12843   49349-471        Ntags     NaN  NaN   1030.42€  2017-10-22 07:11:01
16146   58596-001      Wordify     NaN  NaN    $492.17  2018-04-26 08:00:25
16147   36800-952   Thoughtmix     NaN  NaN    358.03€  2018-04-26 08:16:56
16148   51346-126     Kanoodle     NaN  NaN  ¥15949.24  2018-04-26 16:21:00
16149   49348-574   Thoughtmix     NaN  NaN    295.01€  2018-04-26 19:16:45
16150   0228-2167        Zooxo     NaN  NaN    £682.83  2018-04-26 22:20:00
16151   13537-259   Thoughtmix     NaN  NaN    865.37€  2018-04-26 22:34:15

### city column

#### clean strings in `city`

In [34]:
df.city.unique()

array(['Barcelona', 'Thessaloniki', 'Athens', 'Annecy', 'Paris',
       'Düsseldorf', 'London', 'Braga', 'Nanterre', 'Amadora\t',
       'New York', 'Arnhem', 'Nice', 'Lisbon', 'Amsterdam', 'Porto',
       'Boston', 'Niihama', 'Almada', 'Aranhas', 'Heraklion', 'Amiens',
       'Patras', 'Arcueil', 'Lyon', 'Asaka', 'Champagnole', 'Zürich', nan,
       'Monção', 'Vila Fria'], dtype=object)

Result from `unique()` shows that there is an additional `\t` in the city `Amadora`. Remove the`\t`s:

In [35]:
df.city = df.city.str.replace("\t","")

In [36]:
df.city.unique()

array(['Barcelona', 'Thessaloniki', 'Athens', 'Annecy', 'Paris',
       'Düsseldorf', 'London', 'Braga', 'Nanterre', 'Amadora', 'New York',
       'Arnhem', 'Nice', 'Lisbon', 'Amsterdam', 'Porto', 'Boston',
       'Niihama', 'Almada', 'Aranhas', 'Heraklion', 'Amiens', 'Patras',
       'Arcueil', 'Lyon', 'Asaka', 'Champagnole', 'Zürich', nan, 'Monção',
       'Vila Fria'], dtype=object)

#### handle missing values in `city`

In [37]:
df[df.city.isnull()]

             part      company country city      price                 date
3136    68462-565  Brainsphere     NaN  NaN   1057.85€  2016-05-20 08:59:53
3137    54092-515  Shufflebeat     NaN  NaN    772.92€  2016-05-20 09:55:24
3138    0185-0373  Brainsphere     NaN  NaN    1012.8€  2016-05-20 10:42:10
12820   50563-113        Ntags     NaN  NaN    507.49€  2017-10-20 04:03:11
12821  55154-5057  Brainsphere     NaN  NaN    421.64€  2017-10-20 13:23:34
12822  36987-1697        Ntags     NaN  NaN    937.08€  2017-10-20 18:25:00
12823   68462-565   Thoughtmix     NaN  NaN    777.58€  2017-10-20 21:21:18
12824   0603-6134        Yozio     NaN  NaN    775.05€  2017-10-20 23:17:59
12825  58118-5060        Yozio     NaN  NaN    157.53€  2017-10-20 23:49:53
12826   51060-032   Thoughtmix     NaN  NaN    176.36€  2017-10-21 00:11:55
12827   16714-295  Twitterbeat     NaN  NaN    348.26€  2017-10-21 01:24:52
12828   0603-6134        Ntags     NaN  NaN    714.66€  2017-10-21 01:53:26
12829   52125-136        Zooxo     NaN  NaN    £616.08  2017-10-21 04:26:42
12830   70253-307   Thoughtmix     NaN  NaN    880.07€  2017-10-21 06:19:34
12831   49967-724        Ntags     NaN  NaN     593.0€  2017-10-21 08:04:12
12832  54868-5165      Zoonder     NaN  NaN    $879.56  2017-10-21 09:35:27
12833  65044-3014        Zooxo     NaN  NaN    £738.09  2017-10-21 10:17:08
12834   51346-145  Brainsphere     NaN  NaN    939.35€  2017-10-21 15:06:59
12835  36987-1697      Wordify     NaN  NaN     $371.3  2017-10-21 15:59:29
12836  63629-2733      Teklist     NaN  NaN    236.48€  2017-10-21 17:14:47
12837   49035-530      Teklist     NaN  NaN   1160.47€  2017-10-21 22:49:57
12838  62670-4404  Shufflebeat     NaN  NaN    517.91€  2017-10-22 02:54:15
12839   0185-0373   Thoughtmix     NaN  NaN   1007.71€  2017-10-22 04:16:08
12840   49967-724   Thoughtmix     NaN  NaN    586.71€  2017-10-22 04:34:36
12841   59779-601        Ntags     NaN  NaN     171.8€  2017-10-22 05:00:42
12842   35356-325  Shufflebeat     NaN  NaN    436.67€  2017-10-22 05:10:16
12843   49349-471        Ntags     NaN  NaN   1030.42€  2017-10-22 07:11:01
16146   58596-001      Wordify     NaN  NaN    $492.17  2018-04-26 08:00:25
16147   36800-952   Thoughtmix     NaN  NaN    358.03€  2018-04-26 08:16:56
16148   51346-126     Kanoodle     NaN  NaN  ¥15949.24  2018-04-26 16:21:00
16149   49348-574   Thoughtmix     NaN  NaN    295.01€  2018-04-26 19:16:45
16150   0228-2167        Zooxo     NaN  NaN    £682.83  2018-04-26 22:20:00
16151   13537-259   Thoughtmix     NaN  NaN    865.37€  2018-04-26 22:34:15

In [38]:
len(df[df.city.isnull()])

33

In [39]:
df.groupby(["company","country",'city']).count()

                                           part  price  date
company       country        city
Avaveo        France         Nice           212    212   212
Brainsphere   Portugal       Braga         1236   1236  1236
                             Monção           1      1     1
Bubblemix     Japan          Asaka           54     54    54
Buzzbean      Germany        Düsseldorf    1253   1253  1253
Chatterbridge Spain          Barcelona     1589   1589  1589
Eimbee        France         Amiens         498    498   498
Flipstorm     France         Nanterre       381    381   381
              Greece         Athens         812    812   812
Gabcube       Portugal       Almada         356    356   356
Gabtune       France         Lyon            27     27    27
Gevee         France         Champagnole     36     36    36
Innojam       Netherlands    Amsterdam       44     44    44
Kanoodle      Japan          Niihama        126    126   126
Lajo          Greece         Thessaloniki   220    220   220
Ntags         Portugal       Lisbon        1508   1508  1508
Ntagz         Portugal       Lisbon           1      1     1
Realpoint     Portugal       Lisbon         158    158   158
Rhycero       France         Arcueil        204    204   204
Riffpath      Greece         Heraklion      151    151   151
Roodel        Portugal       Aranhas        626    625   626
Shufflebeat   Portugal       Porto         1550   1550  1550
Tagtune       Switzerland    Zürich          12     12    12
Teklist       Netherlands    Arnhem         426    426   426
Thoughtmix    Portugal       Amadora       2785   2785  2785
                             Vila Fria        1      1     1
Thoughtmixz   Portugal       Amadora          1      1     1
Twitterbeat   France         Annecy        2266   2266  2266
Voomm         France         Paris          250    250   250
Wordify       United States  New York       966    966   966
Yozio         Greece         Patras         651    651   651
Zoonder       United States  Boston         452    452   452
Zooxo         United Kingdom London        1669   1669  1669

In [40]:
prop_nan_city = len(df[df.city.isnull()])/len(df)
prop_nan_city

0.001605448795913403

Since the proportion of missing values in the city column is only 0.16% of the entire dataset, we can remove the rows with missing city entries.
<br>
<br>
Moreover, the table above shows that all but three records have missing values in both country and city. This implies that dropping records that have missing values in the city column does not cause a big loss in information in the country column, since only three such country records are not null.

In [41]:
df=df.dropna(subset=['city'])

In [42]:
df[df.city.isnull()]

Empty DataFrame
Columns: [part, company, country, city, price, date]
Index: []

### date column

In [43]:
# string to datetime object
df['parsed_date'] = pd.to_datetime(df['date'],errors='coerce', infer_datetime_format=True)

In [44]:
# checking
df[df.parsed_date.isnull()]

,part,company,country,city,price,date,parsed_date
3539,17156-617,Thoughtmix,Portugal,Amadora,791.86€,2016-06-32 07:22:28,NaT
3540,54868-5165,Shufflebeat,Portugal,Porto,525.24€,2016-06-32 08:08:48,NaT

In [45]:
df = df.dropna()

### price column

In [46]:
# original intention was to find all currency signs present
# but it turned out that there are other poorly formatted cells other than currency signs
res=[]
for p in df.price:
    for c in p:
        if c.isdigit() == False:
            res.append(c)
x=np.array(res)
np.unique(x)

array(['$', '-', '.', 'a', 'd', 'i', 'n', 'o', 'v', '£', '¥', '€'],
      dtype='<U1')

In [47]:
# find what are those cells
res=[]
for p in df.price:
    for c in p:
        if c in ['a', 'd', 'i', 'n', 'o', 'v']:
            print(p)
            break

void
void
na
na
na

In [48]:
print(len(df))
df=df[df.price != 'void']
df=df[df.price != 'na']
print(len(df))

20519
20514

In [49]:
def parse_price(string):
    amount=re.match(r'([^-\d\.]?)(-?\d*\.?\d*)([\D]?)', str(string))
    lst=[i for i in amount.groups() if i != '']
#     if len(lst) != 2:
#         return float('NaN')
    try:
        res=float(lst[0])
    except ValueError:
        res=float(lst[1])
    return res

In [50]:
def parse_symbol(string):
    amount=re.match(r'([^-\d\.]?)(-?\d*\.?\d*)([\D]?)', str(string))
    lst=[i for i in amount.groups() if i != '']
#     if len(lst) != 2:
#         return float('NaN')
    try:
        number=float(lst[0])
        sign=lst[1]
    except ValueError:
        sign=lst[0]
    return sign

In [51]:
def find_currency(string):
    currency=re.findall("[€$¥£]",string)
    if currency:
        symbol=currency[0]
        if symbol == "€":
            return "EUR"
        elif symbol == "$":
            return "USD"
        elif symbol == "¥":
            return "CNY"
        elif symbol == "£":
            return "GBP"
    else:
        print("error: can't find currenct symbol in {}".format(string))

In [52]:
df["currency"]=df.price.apply(find_currency)

error: can't find currenct symbol in 465.6
error: can't find currenct symbol in 1266.68
error: can't find currenct symbol in 829.3
error: can't find currenct symbol in 357.78
error: can't find currenct symbol in -
error: can't find currenct symbol in -
error: can't find currenct symbol in -
error: can't find currenct symbol in -
error: can't find currenct symbol in -

In [53]:
df=df[df['price'] != "465.6"]
df=df[df['price'] != "1266.68"]
df=df[df['price'] != "829.3"]
df=df[df['price'] != "357.78"]
df=df[df['price'] != "-"]

In [54]:
df['price_amount']=df.price.apply(parse_price)

In [55]:
df['price_symbol']=df.price.apply(parse_symbol)

In [56]:
df.tail()

,part,company,country,city,price,date,parsed_date,currency,price_amount,price_symbol
20563,21695-267,Roodel,Portugal,Aranhas,606.37€,2018-12-31 20:48:14,2018-12-31 20:48:14,EUR,606.37,€
20564,49999-737,Thoughtmix,Portugal,Amadora,828.37€,2018-12-31 21:24:17,2018-12-31 21:24:17,EUR,828.37,€
20565,52343-025,Brainsphere,Portugal,Braga,686.1€,2018-12-31 21:38:02,2018-12-31 21:38:02,EUR,686.10,€
20566,49288-0285,Flipstorm,Greece,Athens,1051.08€,2019-02-21 20:05:00,2019-02-21 20:05:00,EUR,1051.08,€
20567,43419-018,Flipstorm,Greece,Athens,139.56€,2019-05-14 22:48:39,2019-05-14 22:48:39,EUR,139.56,€

In [57]:
df.isnull().sum().sum()

0

In [58]:
df=df.drop(columns='date')
df.rename(columns={"parsed_date" : "date", 
                   "currency": "currency_name",
                   "price_symbol":"currency_symbol"}, inplace=True)

In [59]:
df.head()

,part,company,country,city,price,date,currency_name,price_amount,currency_symbol
0,54868-5165,Chatterbridge,Spain,Barcelona,784.79€,2016-01-02 00:01:05,EUR,784.79,€
1,60505-2867,Lajo,Greece,Thessaloniki,187.99€,2016-01-02 00:05:26,EUR,187.99,€
2,24385-268,Flipstorm,Greece,Athens,221.73€,2016-01-02 00:18:30,EUR,221.73,€
3,76117-001,Twitterbeat,France,Annecy,1075.82€,2016-01-02 02:32:30,EUR,1075.82,€
4,44946-1046,Chatterbridge,Spain,Barcelona,412.55€,2016-01-02 04:51:55,EUR,412.55,€

---
## Part 2: Enriching the data

A common task for a data scientists is to combine or enrich data from internal sources with data available from external sources. The purpose of this can be either to fix issues with the data or to make it easier to derive insights from the data.

In this part you should enrich your data with data from at least one external source. You may look to part 4 for some  inspiration as to what is required. Your solution should be automated, i.e., you can not ask the reader of your notebook to download any data manually. You should argue why and what you expect to achieve by the enrichments you are doing.

---
### Solution

In [60]:
import datetime
from forex_python.converter import CurrencyRates

In [61]:
c = CurrencyRates()

In [62]:
def ToUSD(currency,date):
    return c.convert(currency, 'USD', 1 , date)

In [63]:
USD=[]
dic={}
for i in range(len(df)):
    if i == 2000:
        print("I'm 10% done!")
    if i == 5000:
        print("Hang on, Ms.Pretty/Mr.Handsome. I'm doing my best!")
    if i == 10000:
        print("Yeah, I'm 50% done!")
    if i == 15000:
        print("Waiting is boring, why not sing a song? La la la ~")
    if i == 20000:
        print("Almost there, give me 10s!")
    date=df.iloc[i,5].date()
    currency=df.iloc[i,6]
    key=(currency,date)
    if key in dic:
        USD.append(dic[key])
    else:
        dic[key] = ToUSD(currency,date)
        USD.append(dic[key])
print("YAS! I'm done!")

I am 10% done!
Hang on, Ms.Pretty/Mr.Handsome. I am doing my best!
Yeah, I am 50% done!
Waiting is boring, why not sing a song? La la la ~
Almost there, give me 10s!
yes, I am done

In [64]:
df['exchange_rate_to_USD'] = USD

In [65]:
df['standardized_USD'] = df.price_amount * df.exchange_rate_to_USD

In [66]:
df.tail()

,part,company,country,city,price,date,currency_name,price_amount,currency_symbol,exchange_rate_to_USD,standardized_USD
20563,21695-267,Roodel,Portugal,Aranhas,606.37€,2018-12-31 20:48:14,EUR,606.37,€,1.1450,694.293650
20564,49999-737,Thoughtmix,Portugal,Amadora,828.37€,2018-12-31 21:24:17,EUR,828.37,€,1.1450,948.483650
20565,52343-025,Brainsphere,Portugal,Braga,686.1€,2018-12-31 21:38:02,EUR,686.10,€,1.1450,785.584500
20566,49288-0285,Flipstorm,Greece,Athens,1051.08€,2019-02-21 20:05:00,EUR,1051.08,€,1.1354,1193.396232
20567,43419-018,Flipstorm,Greece,Athens,139.56€,2019-05-14 22:48:39,EUR,139.56,€,1.1226,156.670056

save the above dataframe as a pickle object for easy access:

In [71]:
with open(r"df.pickle", "wb") as output_file:
    pickle.dump(df, output_file)

In [67]:
# import requests
# import json

# key="29a4fc85a077fabaf3d550608a5c6e3b"
# baseurl="http://www.apilayer.net/api/live?access_key={}&from={}"

# test="https://apilayer.net/api/historical?access_key={}&date=2019-01-05".format(key)

# requests.get(test).json()

# def getRate(currency):
#     url=baseurl.format(key,currency)
#     response=requests.get(url)
#     data=response.json()['quotes']["USD"+currency]
#     return data

# df.currency_name.unique()

# exchange_rate={}
# for currency in df.currency_name.unique().tolist():
#     if currency == "USD":
#         exchange_rate["USD"] = 1
#     else:
#         exchange_rate[currency]=getRate(currency)

# exchange_rate

---
## Part 3: Creating a database
Storing data in a relational database has the advantages that it is persistent, fast to query, and it will be easier access for other employees at Weyland-Yutani.

In this part you should:
- Create a database and table(s) for the data
- Insert data into the tables

You may use SQLite locally to do this. You should argue why you choose to store your data the way you do.

---
### Solution

Since the current dataframe `df` does not have a primary key, we create another column called `key` and fill this column with the index of each row, i.e. use the row index as the primary key

In [2]:
with open(r"df.pickle", "rb") as output_file:
    df = pickle.load(output_file)

In [4]:
df.insert(0, 'key', range(len(df)))

In [5]:
df

,key,part,company,country,city,price,date,currency_name,price_amount,currency_symbol,exchange_rate_to_USD,standardized_USD
0,0,54868-5165,Chatterbridge,Spain,Barcelona,784.79€,2016-01-02 00:01:05,EUR,784.79,€,1.088700,854.400873
1,1,60505-2867,Lajo,Greece,Thessaloniki,187.99€,2016-01-02 00:05:26,EUR,187.99,€,1.088700,204.664713
2,2,24385-268,Flipstorm,Greece,Athens,221.73€,2016-01-02 00:18:30,EUR,221.73,€,1.088700,241.397451
3,3,76117-001,Twitterbeat,France,Annecy,1075.82€,2016-01-02 02:32:30,EUR,1075.82,€,1.088700,1171.245234
4,4,44946-1046,Chatterbridge,Spain,Barcelona,412.55€,2016-01-02 04:51:55,EUR,412.55,€,1.088700,449.143185
5,5,16729-167,Chatterbridge,Spain,Barcelona,359.52€,2016-01-02 07:20:59,EUR,359.52,€,1.088700,391.409424
6,6,52125-444,Voomm,France,Paris,266.62€,2016-01-02 07:40:37,EUR,266.62,€,1.088700,290.269194
7,7,43419-018,Buzzbean,Germany,Düsseldorf,103.45€,2016-01-02 08:57:57,EUR,103.45,€,1.088700,112.626015
8,8,54092-515,Zooxo,United Kingdom,London,£704.94,2016-01-02 09:09:01,GBP,704.94,£,1.483344,1045.668204
9,9,24286-1562,Lajo,Greece,Thessaloniki,317.65€,2016-01-02 11:01:32,EUR,317.65,€,1.088700,345.825555
10,10,49035-530,Flipstorm,Greece,Athens,841.97€,2016-01-02 12:51:30,EUR,841.97,€,1.088700,916.652739
11,11,36987-1697,Brainsphere,Portugal,Braga,830.75€,2016-01-02 13:16:45,EUR,830.75,€,1.088700,904.437525
12,12,44946-1046,Flipstorm,France,Nanterre,406.4€,2016-01-02 16:34:14,EUR,406.40,€,1.088700,442.447680
13,13,51346-145,Flipstorm,Greece,Athens,978.51€,2016-01-02 17:45:54,EUR,978.51,€,1.088700,1065.303837
14,14,51138-049,Flipstorm,France,Nanterre,504.69€,2016-01-02 17:46:50,EUR,504.69,€,1.088700,549.456003
15,15,0268-6107,Thoughtmix,Portugal,Amadora,477.71€,2016-01-02 18:52:45,EUR,477.71,€,1.088700,520.082877
16,16,51523-002,Flipstorm,Greece,Athens,1041.56€,2016-01-02 20:28:56,EUR,1041.56,€,1.088700,1133.946372
17,17,62670-4404,Wordify,United States,New York,$444.15,2016-01-02 21:10:19,USD,444.15,$,1.000000,444.150000
18,18,49288-0285,Brainsphere,Portugal,Braga,598.52€,2016-01-02 22:18:14,EUR,598.52,€,1.088700,651.608724
19,19,68233-011,Chatterbridge,Spain,Barcelona,304.59€,2016-01-03 00:19:44,EUR,304.59,€,1.088700,331.607133
20,20,49349-471,Voomm,France,Paris,842.93€,2016-01-03 00:40:03,EUR,842.93,€,1.088700,917.697891
21,21,67544-356,Zooxo,United Kingdom,London,£602.37,2016-01-03 00:49:00,GBP,602.37,£,1.483344,893.521655
22,22,55700-014,Flipstorm,Greece,Athens,687.46€,2016-01-03 02:33:24,EUR,687.46,€,1.088700,748.437702
23,23,98132-889,Buzzbean,Germany,Düsseldorf,272.06€,2016-01-03 06:16:54,EUR,272.06,€,1.088700,296.191722
24,24,17156-617,Flipstorm,Greece,Athens,1148.38€,2016-01-03 07:35:36,EUR,1148.38,€,1.088700,1250.241306
25,25,49348-574,Flipstorm,Greece,Athens,367.48€,2016-01-03 08:58:12,EUR,367.48,€,1.088700,400.075476
26,26,76454-100,Teklist,Netherlands,Arnhem,166.29€,2016-01-03 09:35:27,EUR,166.29,€,1.088700,181.039923
27,27,76117-001,Thoughtmix,Portugal,Amadora,1146.85€,2016-01-03 10:48:11,EUR,1146.85,€,1.088700,1248.575595
28,28,54868-5165,Teklist,Netherlands,Arnhem,980.37€,2016-01-03 10:48:12,EUR,980.37,€,1.088700,1067.328819
29,29,67544-356,Flipstorm,France,Nanterre,680.67€,2016-01-03 11:41:15,EUR,680.67,€,1.088700,741.045429
...,...,...,...,...,...,...,...,...,...,...,...,...
20538,20475,61398-0828,Lajo,Greece,Thessaloniki,216.33€,2018-12-30 08:27:46,EUR,216.33,€,1.145400,247.784382
20539,20476,55700-014,Chatterbridge,Spain,Barcelona,613.06€,2018-12-30 08:39:52,EUR,613.06,€,1.145400,702.198924
20540,20477,49349-842,Twitterbeat,France,Annecy,416.44€,2018-12-30 11:01:03,EUR,416.44,€,1.145400,476.990376
20541,20478,52343-025,Thoughtmix,Portugal,Amadora,680.17€,2018-12-30 11:23:20,EUR,680.17,€,1.145400,779.066718
20542,20479,43419-018,Twitterbeat,France,Annecy,227.42€,2018-12-30 11:57:33,EUR,227.42,€,1.145400,260.486868
20543,20480,49349-842,Thoughtmix,Portugal,Amadora,497.4€,2018-12-30 12:13:19,EUR,497.40,€,1.145400,569.721960
20544,20481,17156-617,Thoughtmix,Portugal,Amadora,1119.1€,2018-12-30 12:15:14,EUR,1119.10,€,1.145400,1281.817140
20545,20482,62011-0219,Chatterbridge,Spain,Barcelona,847.89€,2018-12-30 17:22:21,EUR,847.89,€,1.145400,971.173206
20546,20483,16729-167,Thoughtmix,Portugal,Amadora,824.27€,2018-12-30 17:45:54,EUR,824.27,€,1.145400,944.118858
20547,20484,17156-617,Chatterbridge,Spain,Barcelona,856.55€,2018-12-30 17:46:42,EUR,856.55,€,1.145400,981.092370
20548,20485,58596-001,Thoughtmix,Portugal,Amadora,449.53€,2018-12-30 18:23:16,EUR,449.53,€,1.145400,514.891662
20549,20486,0615-7679,Wordify,United States,New York,$438.62,2018-12-30 22:11:40,USD,438.62,$,1.000000,438.620000
20550,20487,70253-307,Chatterbridge,Spain,Barcelona,920.33€,2018-12-30 22:44:54,EUR,920.33,€,1.145400,1054.145982
20551,20488,51138-049,Zooxo,United Kingdom,London,£738.7,2018-12-30 23:22:57,GBP,738.70,£,1.268818,937.275797
20552,20489,49349-842,Zoonder,United States,Boston,$476.66,2018-12-31 02:24:27,USD,476.66,$,1.000000,476.660000
20553,20490,0699-7041,Twitterbeat,France,Annecy,665.3€,2018-12-31 02:35:27,EUR,665.30,€,1.145000,761.768500
20554,20491,68180-121,Rhycero,France,Arcueil,936.06€,2018-12-31 03:13:36,EUR,936.06,€,1.145000,1071.788700
20555,20492,51060-032,Buzzbean,Germany,Düsseldorf,378.98€,2018-12-31 05:13:28,EUR,378.98,€,1.145000,433.932100
20556,20493,0268-6107,Thoughtmix,Portugal,Amadora,477.59€,2018-12-31 13:32:57,EUR,477.59,€,1.145000,546.840550
20557,20494,68180-121,Twitterbeat,France,Annecy,637.5€,2018-12-31 13:53:59,EUR,637.50,€,1.145000,729.937500
20558,20495,13537-259,Thoughtmix,Portugal,Amadora,762.29€,2018-12-31 14:17:24,EUR,762.29,€,1.145000,872.822050
20559,20496,36800-952,Gabcube,Portugal,Almada,286.23€,2018-12-31 16:27:34,EUR,286.23,€,1.145000,327.733350
20560,20497,36987-1697,Chatterbridge,Spain,Barcelona,1017.44€,2018-12-31 16:46:06,EUR,1017.44,€,1.145000,1164.968800
20561,20498,98132-889,Yozio,Greece,Patras,179.88€,2018-12-31 18:24:51,EUR,179.88,€,1.145000,205.962600
20562,20499,68462-565,Shufflebeat,Portugal,Porto,882.52€,2018-12-31 19:56:53,EUR,882.52,€,1.145000,1010.485400
20563,20500,21695-267,Roodel,Portugal,Aranhas,606.37€,2018-12-31 20:48:14,EUR,606.37,€,1.145000,694.293650
20564,20501,49999-737,Thoughtmix,Portugal,Amadora,828.37€,2018-12-31 21:24:17,EUR,828.37,€,1.145000,948.483650
20565,20502,52343-025,Brainsphere,Portugal,Braga,686.1€,2018-12-31 21:38:02,EUR,686.10,€,1.145000,785.584500
20566,20503,49288-0285,Flipstorm,Greece,Athens,1051.08€,2019-02-21 20:05:00,EUR,1051.08,€,1.135400,1193.396232
20567,20504,43419-018,Flipstorm,Greece,Athens,139.56€,2019-05-14 22:48:39,EUR,139.56,€,1.122600,156.670056

In [6]:
import sqlite3

In [14]:
conn = sqlite3.connect('project1.sqlite')
c = conn.cursor()

In [15]:
df.columns

Index(['key', 'part', 'company', 'country', 'city', 'price', 'date',
       'currency_name', 'price_amount', 'currency_symbol',
       'exchange_rate_to_USD', 'standardized_USD'],
      dtype='object')

In [21]:
c.execute('''DROP TABLE IF EXISTS customer;''')
conn.commit()

In [22]:
c.execute('''CREATE TABLE IF NOT EXISTS customer(
key INTEGER PRIMARY KEY, 
part varchar(20), 
company varchar(20), 
country varchar(30), 
city varchar(20), 
price varchar(10), 
date DATETIME, 
currency_name varchar(3), 
price_amount float(10), 
currency_symbol varchar(1), 
exchange_rate_to_USD float(10), 
standardized_USD float(10))''')
conn.commit()

In [23]:
df.to_sql('customer', conn, if_exists='replace', index=False)
conn.commit()

In [28]:
# code to test whether the sqlite table created is the same as the original pandas dataframe

c.execute('SELECT Count(*) FROM customer')
print('number of rows in the sqlite table is {}'.format(c.fetchone()[0]))
print('number of rows in the pandas dataframe is {}'.format(len(df)))
conn.commit()

number of rows in the sqlite table is 20505
number of rows in the pandas dataframe is 20505

In [78]:
# code to test whether the sqlite table created is the same as the original pandas dataframe
'''
c.execute('SELECT * FROM customer')
print(c.fetchone())
print(c.fetchmany(100))
conn.commit()
'''

(0, '54868-5165', 'Chatterbridge', 'Spain', 'Barcelona', '784.79€', '2016-01-02 00:01:05', 'EUR', 784.79, '€', 1.0887, 854.4008729999999)
[(1, '60505-2867', 'Lajo', 'Greece', 'Thessaloniki', '187.99€', '2016-01-02 00:05:26', 'EUR', 187.99, '€', 1.0887, 204.664713), (2, '24385-268', 'Flipstorm', 'Greece', 'Athens', '221.73€', '2016-01-02 00:18:30', 'EUR', 221.73, '€', 1.0887, 241.397451), (3, '76117-001', 'Twitterbeat', 'France', 'Annecy', '1075.82€', '2016-01-02 02:32:30', 'EUR', 1075.82, '€', 1.0887, 1171.245234), (4, '44946-1046', 'Chatterbridge', 'Spain', 'Barcelona', '412.55€', '2016-01-02 04:51:55', 'EUR', 412.55, '€', 1.0887, 449.143185), (5, '16729-167', 'Chatterbridge', 'Spain', 'Barcelona', '359.52€', '2016-01-02 07:20:59', 'EUR', 359.52, '€', 1.0887, 391.409424), (6, '52125-444', 'Voomm', 'France', 'Paris', '266.62€', '2016-01-02 07:40:37', 'EUR', 266.62, '€', 1.0887, 290.269194), (7, '43419-018', 'Buzzbean', 'Germany', 'Düsseldorf', '103.45€', '2016-01-02 08:57:57', 'EUR', 103.45, '€', 1.0887, 112.62601500000001), (8, '54092-515', 'Zooxo', 'United Kingdom', 'London', '£704.94', '2016-01-02 09:09:01', 'GBP', 704.94, '£', 1.483343552, 1045.66820354688), (9, '24286-1562', 'Lajo', 'Greece', 'Thessaloniki', '317.65€', '2016-01-02 11:01:32', 'EUR', 317.65, '€', 1.0887, 345.82555499999995), (10, '49035-530', 'Flipstorm', 'Greece', 'Athens', '841.97€', '2016-01-02 12:51:30', 'EUR', 841.97, '€', 1.0887, 916.652739), (11, '36987-1697', 'Brainsphere', 'Portugal', 'Braga', '830.75€', '2016-01-02 13:16:45', 'EUR', 830.75, '€', 1.0887, 904.437525), (12, '44946-1046', 'Flipstorm', 'France', 'Nanterre', '406.4€', '2016-01-02 16:34:14', 'EUR', 406.4, '€', 1.0887, 442.44768), (13, '51346-145', 'Flipstorm', 'Greece', 'Athens', '978.51€', '2016-01-02 17:45:54', 'EUR', 978.51, '€', 1.0887, 1065.303837), (14, '51138-049', 'Flipstorm', 'France', 'Nanterre', '504.69€', '2016-01-02 17:46:50', 'EUR', 504.69, '€', 1.0887, 549.456003), (15, '0268-6107', 'Thoughtmix', 'Portugal', 'Amadora', '477.71€', '2016-01-02 18:52:45', 'EUR', 477.71, '€', 1.0887, 520.0828769999999), (16, '51523-002', 'Flipstorm', 'Greece', 'Athens', '1041.56€', '2016-01-02 20:28:56', 'EUR', 1041.56, '€', 1.0887, 1133.9463719999999), (17, '62670-4404', 'Wordify', 'United States', 'New York', '$444.15', '2016-01-02 21:10:19', 'USD', 444.15, '$', 1.0, 444.15), (18, '49288-0285', 'Brainsphere', 'Portugal', 'Braga', '598.52€', '2016-01-02 22:18:14', 'EUR', 598.52, '€', 1.0887, 651.6087239999999), (19, '68233-011', 'Chatterbridge', 'Spain', 'Barcelona', '304.59€', '2016-01-03 00:19:44', 'EUR', 304.59, '€', 1.0887, 331.607133), (20, '49349-471', 'Voomm', 'France', 'Paris', '842.93€', '2016-01-03 00:40:03', 'EUR', 842.93, '€', 1.0887, 917.6978909999999), (21, '67544-356', 'Zooxo', 'United Kingdom', 'London', '£602.37', '2016-01-03 00:49:00', 'GBP', 602.37, '£', 1.483343552, 893.52165541824), (22, '55700-014', 'Flipstorm', 'Greece', 'Athens', '687.46€', '2016-01-03 02:33:24', 'EUR', 687.46, '€', 1.0887, 748.4377020000001), (23, '98132-889', 'Buzzbean', 'Germany', 'Düsseldorf', '272.06€', '2016-01-03 06:16:54', 'EUR', 272.06, '€', 1.0887, 296.191722), (24, '17156-617', 'Flipstorm', 'Greece', 'Athens', '1148.38€', '2016-01-03 07:35:36', 'EUR', 1148.38, '€', 1.0887, 1250.2413060000001), (25, '49348-574', 'Flipstorm', 'Greece', 'Athens', '367.48€', '2016-01-03 08:58:12', 'EUR', 367.48, '€', 1.0887, 400.07547600000004), (26, '76454-100', 'Teklist', 'Netherlands', 'Arnhem', '166.29€', '2016-01-03 09:35:27', 'EUR', 166.29, '€', 1.0887, 181.039923), (27, '76117-001', 'Thoughtmix', 'Portugal', 'Amadora', '1146.85€', '2016-01-03 10:48:11', 'EUR', 1146.85, '€', 1.0887, 1248.5755949999998), (28, '54868-5165', 'Teklist', 'Netherlands', 'Arnhem', '980.37€', '2016-01-03 10:48:12', 'EUR', 980.37, '€', 1.0887, 1067.328819), (29, '67544-356', 'Flipstorm', 'France', 'Nanterre', '680.67€', '2016-01-03 11:41:15', 'EUR', 680.67, '€', 1.0887, 741.045429), (30, '70253-307', 'Avaveo', 'France', 'Nice', '1029.92€', '2016-01-03 11:53:31', 'EUR', 1029.92, '€', 1.0887, 1121.2739040000001), (31, '62756-707', 'Ntags', 'Portugal', 'Lisbon', '322.45€', '2016-01-03 13:12:09', 'EUR', 322.45, '€', 1.0887, 351.051315), (32, '0268-1604', 'Innojam', 'Netherlands', 'Amsterdam', '157.22€', '2016-01-03 13:48:28', 'EUR', 157.22, '€', 1.0887, 171.165414), (33, '41163-428', 'Thoughtmix', 'Portugal', 'Amadora', '120.64€', '2016-01-03 16:16:24', 'EUR', 120.64, '€', 1.0887, 131.340768), (34, '62011-0219', 'Flipstorm', 'Greece', 'Athens', '759.9€', '2016-01-03 17:55:17', 'EUR', 759.9, '€', 1.0887, 827.30313), (35, '54868-0823', 'Thoughtmix', 'Portugal', 'Amadora', '163.6€', '2016-01-03 19:48:44', 'EUR', 163.6, '€', 1.0887, 178.11132), (36, '68462-565', 'Flipstorm', 'France', 'Nanterre', '857.94€', '2016-01-03 20:19:49', 'EUR', 857.94, '€', 1.0887, 934.0392780000001), (37, '61398-0828', 'Flipstorm', 'Greece', 'Athens', '508.48€', '2016-01-03 22:11:05', 'EUR', 508.48, '€', 1.0887, 553.582176), (38, '52343-025', 'Shufflebeat', 'Portugal', 'Porto', '843.78€', '2016-01-03 22:12:57', 'EUR', 843.78, '€', 1.0887, 918.623286), (39, '54473-578', 'Zoonder', 'United States', 'Boston', '$199.56', '2016-01-03 22:21:29', 'USD', 199.56, '$', 1.0, 199.56), (40, '51079-947', 'Zoonder', 'United States', 'Boston', '$637.13', '2016-01-03 22:43:31', 'USD', 637.13, '$', 1.0, 637.13), (41, '37205-992', 'Shufflebeat', 'Portugal', 'Porto', '552.41€', '2016-01-03 23:41:02', 'EUR', 552.41, '€', 1.0887, 601.408767), (42, '51079-947', 'Flipstorm', 'France', 'Nanterre', '620.92€', '2016-01-04 00:04:00', 'EUR', 620.92, '€', 1.0898, 676.678616), (43, '49349-471', 'Flipstorm', 'Greece', 'Athens', '766.23€', '2016-01-04 00:32:01', 'EUR', 766.23, '€', 1.0898, 835.0374540000001), (44, '16714-295', 'Brainsphere', 'Portugal', 'Braga', '712.31€', '2016-01-04 01:07:00', 'EUR', 712.31, '€', 1.0898, 776.275438), (45, '54868-0823', 'Flipstorm', 'Greece', 'Athens', '183.81€', '2016-01-04 01:15:56', 'EUR', 183.81, '€', 1.0898, 200.31613800000002), (46, '16729-167', 'Voomm', 'France', 'Paris', '458.77€', '2016-01-04 01:46:04', 'EUR', 458.77, '€', 1.0898, 499.967546), (47, '68462-565', 'Shufflebeat', 'Portugal', 'Porto', '778.08€', '2016-01-04 04:39:44', 'EUR', 778.08, '€', 1.0898, 847.9515840000001), (48, '49349-842', 'Ntags', 'Portugal', 'Lisbon', '269.46€', '2016-01-04 05:19:44', 'EUR', 269.46, '€', 1.0898, 293.657508), (49, '54123-957', 'Buzzbean', 'Germany', 'Düsseldorf', '161.02€', '2016-01-04 07:01:09', 'EUR', 161.02, '€', 1.0898, 175.47959600000002), (50, '58118-5060', 'Flipstorm', 'Greece', 'Athens', '387.3€', '2016-01-04 07:23:21', 'EUR', 387.3, '€', 1.0898, 422.07954000000007), (51, '51523-002', 'Flipstorm', 'Greece', 'Athens', '1184.21€', '2016-01-04 07:32:15', 'EUR', 1184.21, '€', 1.0898, 1290.5520580000002), (52, '51079-947', 'Thoughtmix', 'Portugal', 'Amadora', '600.24€', '2016-01-04 08:46:27', 'EUR', 600.24, '€', 1.0898, 654.141552), (53, '58118-5060', 'Buzzbean', 'Germany', 'Düsseldorf', '195.09€', '2016-01-04 12:07:11', 'EUR', 195.09, '€', 1.0898, 212.60908200000003), (54, '16590-177', 'Twitterbeat', 'France', 'Annecy', '1075.56€', '2016-01-04 12:16:34', 'EUR', 1075.56, '€', 1.0898, 1172.145288), (55, '49288-0655', 'Flipstorm', 'Greece', 'Athens', '169.33€', '2016-01-04 14:13:33', 'EUR', 169.33, '€', 1.0898, 184.53583400000002), (56, '67046-030', 'Flipstorm', 'Greece', 'Athens', '162.2€', '2016-01-04 14:48:27', 'EUR', 162.2, '€', 1.0898, 176.76556), (57, '24286-1562', 'Kanoodle', 'Japan', 'Niihama', '¥32441.68', '2016-01-04 14:48:42', 'CNY', 32441.68, '¥', 0.1530446017, 4965.023994078856), (58, '16477-306', 'Twitterbeat', 'France', 'Annecy', '996.3€', '2016-01-04 15:05:37', 'EUR', 996.3, '€', 1.0898, 1085.76774), (59, '0615-7679', 'Chatterbridge', 'Spain', 'Barcelona', '385.43€', '2016-01-04 15:08:34', 'EUR', 385.43, '€', 1.0898, 420.04161400000004), (60, '49348-574', 'Flipstorm', 'Greece', 'Athens', '295.47€', '2016-01-04 15:54:50', 'EUR', 295.47, '€', 1.0898, 322.00320600000003), (61, '52380-1102', 'Flipstorm', 'France', 'Nanterre', '716.43€', '2016-01-04 16:19:30', 'EUR', 716.43, '€', 1.0898, 780.765414), (62, '98132-889', 'Brainsphere', 'Portugal', 'Braga', '236.03€', '2016-01-04 16:42:33', 'EUR', 236.03, '€', 1.0898, 257.225494), (63, '51346-126', 'Flipstorm', 'Greece', 'Athens', '111.55€', '2016-01-04 18:09:44', 'EUR', 111.55, '€', 1.0898, 121.56719000000001), (64, '51138-049', 'Flipstorm', 'Greece', 'Athens', '528.49€', '2016-01-04 19:33:25', 'EUR', 528.49, '€', 1.0898, 575.9484020000001), (65, '58118-5060', 'Twitterbeat', 'France', 'Annecy', '145.64€', '2016-01-04 20:34:13', 'EUR', 145.64, '€', 1.0898, 158.718472), (66, '21695-267', 'Ntags', 'Portugal', 'Lisbon', '361.54€', '2016-01-04 21:36:57', 'EUR', 361.54, '€', 1.0898, 394.0062920000001), (67, '51531-9500', 'Chatterbridge', 'Spain', 'Barcelona', '995.1€', '2016-01-04 22:48:41', 'EUR', 995.1, '€', 1.0898, 1084.45998), (68, '50563-113', 'Gabcube', 'Portugal', 'Almada', '671.22€', '2016-01-04 22:55:51', 'EUR', 671.22, '€', 1.0898, 731.4955560000001), (69, '49288-0655', 'Gabcube', 'Portugal', 'Almada', '316.01€', '2016-01-05 00:45:50', 'EUR', 316.01, '€', 1.0746, 339.584346), (70, '68084-172', 'Ntags', 'Portugal', 'Lisbon', '564.39€', '2016-01-05 02:14:55', 'EUR', 564.39, '€', 1.0746, 606.4934939999999), (71, '68180-121', 'Ntags', 'Portugal', 'Lisbon', '1028.04€', '2016-01-05 02:33:00', 'EUR', 1028.04, '€', 1.0746, 1104.731784), (72, '13537-468', 'Zooxo', 'United Kingdom', 'London', '£449.23', '2016-01-05 03:29:13', 'GBP', 449.23, '£', 1.4673311941, 659.169192325543), (73, '16714-295', 'Shufflebeat', 'Portugal', 'Porto', '895.28€', '2016-01-05 04:45:51', 'EUR', 895.28, '€', 1.0746, 962.0678879999999), (74, '37205-992', 'Buzzbean', 'Germany', 'Düsseldorf', '481.74€', '2016-01-05 05:24:36', 'EUR', 481.74, '€', 1.0746, 517.677804), (75, '61398-0828', 'Flipstorm', 'Greece', 'Athens', '279.76€', '2016-01-05 06:45:46', 'EUR', 279.76, '€', 1.0746, 300.630096), (76, '37205-951', 'Flipstorm', 'France', 'Nanterre', '303.47€', '2016-01-05 07:40:58', 'EUR', 303.47, '€', 1.0746, 326.10886200000004), (77, '10267-2529', 'Roodel', 'Portugal', 'Aranhas', '460.71€', '2016-01-05 09:32:18', 'EUR', 460.71, '€', 1.0746, 495.078966), (78, '62742-4030', 'Zoonder', 'United States', 'Boston', '$612.31', '2016-01-05 11:24:32', 'USD', 612.31, '$', 1.0, 612.31), (79, '24385-268', 'Flipstorm', 'Greece', 'Athens', '223.75€', '2016-01-05 11:35:55', 'EUR', 223.75, '€', 1.0746, 240.44175), (80, '54868-5165', 'Flipstorm', 'France', 'Nanterre', '-217.88€', '2016-01-05 12:21:25', 'EUR', -217.88, '€', 1.0746, -234.133848), (81, '49348-574', 'Ntags', 'Portugal', 'Lisbon', '368.4€', '2016-01-05 15:43:41', 'EUR', 368.4, '€', 1.0746, 395.88264), (82, '76335-006', 'Chatterbridge', 'Spain', 'Barcelona', '395.91€', '2016-01-05 16:01:18', 'EUR', 395.91, '€', 1.0746, 425.44488600000005), (83, '51346-145', 'Flipstorm', 'Greece', 'Athens', '977.69€', '2016-01-05 16:33:49', 'EUR', 977.69, '€', 1.0746, 1050.6256740000001), (84, '36987-1697', 'Chatterbridge', 'Spain', 'Barcelona', '822.97€', '2016-01-05 17:11:29', 'EUR', 822.97, '€', 1.0746, 884.363562), (85, '68233-011', 'Voomm', 'France', 'Paris', '549.77€', '2016-01-05 19:17:42', 'EUR', 549.77, '€', 1.0746, 590.782842), (86, '65044-3014', 'Thoughtmix', 'Portugal', 'Amadora', '924.25€', '2016-01-05 19:28:34', 'EUR', 924.25, '€', 1.0746, 993.1990499999999), (87, '10267-2529', 'Brainsphere', 'Portugal', 'Braga', '528.52€', '2016-01-05 19:35:12', 'EUR', 528.52, '€', 1.0746, 567.947592), (88, '50563-113', 'Twitterbeat', 'France', 'Annecy', '516.92€', '2016-01-05 20:00:10', 'EUR', 516.92, '€', 1.0746, 555.482232), (89, '50563-113', 'Flipstorm', 'France', 'Nanterre', '648.25€', '2016-01-05 22:10:24', 'EUR', 648.25, '€', 1.0746, 696.60945), (90, '68084-172', 'Twitterbeat', 'France', 'Annecy', '629.02€', '2016-01-05 23:17:05', 'EUR', 629.02, '€', 1.0746, 675.944892), (91, '17156-617', 'Zooxo', 'United Kingdom', 'London', '£1100.73', '2016-01-06 00:55:19', 'GBP', 1100.73, '£', 1.4626906318, 1610.027459141214), (92, '49288-0285', 'Avaveo', 'France', 'Nice', '687.63€', '2016-01-06 01:04:10', 'EUR', 687.63, '€', 1.0742, 738.652146), (93, '35356-325', 'Buzzbean', 'Germany', 'Düsseldorf', '411.16€', '2016-01-06 02:31:00', 'EUR', 411.16, '€', 1.0742, 441.66807200000005), (94, '49349-820', 'Chatterbridge', 'Spain', 'Barcelona', '522.49€', '2016-01-06 02:37:26', 'EUR', 522.49, '€', 1.0742, 561.2587580000001), (95, '36987-1697', 'Ntags', 'Portugal', 'Lisbon', '977.41€', '2016-01-06 03:12:04', 'EUR', 977.41, '€', 1.0742, 1049.933822), (96, '41163-428', 'Ntags', 'Portugal', 'Lisbon', '152.56€', '2016-01-06 03:53:24', 'EUR', 152.56, '€', 1.0742, 163.879952), (97, '68084-595', 'Voomm', 'France', 'Paris', '169.07€', '2016-01-06 04:00:59', 'EUR', 169.07, '€', 1.0742, 181.614994), (98, '50563-113', 'Riffpath', 'Greece', 'Heraklion', '489.98€', '2016-01-06 04:05:10', 'EUR', 489.98, '€', 1.0742, 526.3365160000001), (99, '0228-2167', 'Brainsphere', 'Portugal', 'Braga', '946.63€', '2016-01-06 04:41:37', 'EUR', 946.63, '€', 1.0742, 1016.869946), (100, '0228-2167', 'Zooxo', 'United Kingdom', 'London', '£932.22', '2016-01-06 05:59:08', 'GBP', 932.22, '£', 1.4626906318, 1363.5494607765959)]

In [ ]:
GDP=pd.read_csv("")

---
## Part 4: Analyzing the data
You are now ready to analyze the data. Your goal is to gain some actionable business insights to present to your boss. 

In this part, you should ask some questions and try to answer them based on the data. You should write SQL queries to retrieve the data. For each question, you should state why it is relevant and what you expect to find.

To get you started, you should prepare answers to the following questions. You should add more questions.
#### Who are the most profitable clients?
Knowing which clients that generate the most revenue for the company will assist your boss in distributing customer service ressources.

#### Are there any clients for which profit is declining?
Declining profit from a specific client may indicate that the client is disatisfied with the product. Gaining a new client is often much more work than retaining one. Early warnings about declining profit may help your boss fighting customer churn.


Remember, you are taking this to your new boss, so think about how you present the data.

---
### Solution

---
## Part 5: Performance
Your boss is very impressed with what you have achieved in less than two weeks, and he would like to take your idea of storing the customer and sales data in a relational database to production. However, John is concerned that the solution will not scale. His experience is telling him that you will see many occurrences of the following queries.

- Show all sales to company X between time $t_1$ and time $t_2$
- Show the latest X sales in the database
- Show total sales per company per day

Show that Johns concern is not justified.

---
### Solution

---